*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Jua";
    src: url("fonts/BMJUA_ttf.ttf");
}

:root{
    --text-normal:#4a4a4a;
    --text-header-title:#ee0b0b;

    --border-color:#0e89ec31;

}

body{
    background-color: #faedcd;
    font-family: "Jua";
    
}

.header{
    text-align: center;
    background-color: #d4a373;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jua";
}

.header a{
    text-decoration: none;
}
.header .title{
    font-size: 2em;
    color: var(--text-header-title);
}

.top-explain{
    margin: 5px 0 -15px 10px;
    font-size: 0.9em;
}

.mapStyle{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
}


.explain{
    width: 500px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid gray;
}

.content{
    margin-top: 2em;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

.content ul li{
    text-align: center;
}



#phoneList{
    list-style: none;
    padding: 0;
}



.msg-list{
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
}

#phoneList span{
    font-size: 2em;
}

#phoneList button{
    background: transparent;
    margin-left: 5px;
    font-size: 1.3em;
    width: 50px;
    border: none;
}

#phoneList button:hover{
    border: 3px solid var(--border-color);
    background-color: var(--border-color);
}

.submit-btn{
    font-size: 0.8em;
    
}



.transmit-btn{
    border: 5px solid var(--border-color);
    background: transparent;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: 10px;
    width: 200px;
}

@media screen and (max-width:500px) {
    /* html{
        width: 100vh;
    }
    header{
        width: 100%;
    } */
    .explain{
        width: 400px;
    }
    .mapStyle{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 400px;
    }
    
}

@media screen and (max-width:400px) {
    .mapStyle{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 400px;
    }

    #phoneList span{
        font-size: 1.5em;
    }
    
    #phoneList button{
        background: transparent;
        margin-left: 5px;
        font-size: 1em;
        
    }
    
}



@media screen and (max-width:300px) {
    #phoneList span{
        font-size: 1.2em;
    }
    
    #phoneList button{
        background: transparent;
        margin-left: 5px;
        font-size: 0.8em;
        
    }
    
}


@media screen and (max-width:280px) {

    .submit-btn{
        margin-top: 10px;
        width: 100%;
        font-size: 0.3em;
    
    }

    .msg-list{
        margin-top: 1em;
        font-size: 1.3em;
    }
}

